:root {
  --green: #7fffd4;
  --background-white: #f0f8ff;
  --background-black: #282c34;
  --gray-light: rgba(120, 120, 120);
  --gray-dark: rgba(60, 60, 60);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  list-style: none;

  text-decoration: none;
}

a {
  color: inherit;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100%;
  overflow: scroll;
}

html::-webkit-scrollbar {
  display: none;
}

h1,
h2 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
}

.turn-white {
  filter: invert(88%) sepia(3%) saturate(2476%) hue-rotate(194deg);
  transition: all 500ms;
}

.reveal-on-scroll {
  transition: 2s;
}

.reveal-on-scroll.off {
  opacity: 0;
}

.scrollImg {
  position: absolute;
  right: 50%;
  bottom: 0;
  width: 6rem;
  transform: translateX(50%);
}

@media (max-width: 768px) {
  .scrollImg {
    // transform: translateX(50%);
    display: none;
    width: 0px;
    height: 0px;
  }
}
