.container {
    height: 100vh;
    background-color: var(--background-black);
}

.content {
    max-width: 1400px;

    .title {
        color: var(--background-white);
        font-size: 4.1rem;
        text-align: center;
        padding-top: 3.5rem;
    };
}
